.card {
    margin: 16px;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 520px;
    border-radius: 8px;

    .field {
        width: 100%;
        height: 100%;
        display: contents;

    }
    
    .privacy {
        padding: 16px 0;
        padding-bottom: 8px;
        display: flex;
        flex-direction: column;

        .radio-group {
            display: flex;
            padding: 8px 0;
        }
    }

    .footer {
        display: flex;
        justify-content: space-between;

        .caption {
            display: flex;
            flex-direction: column;
        }
        
        .post-btn {
            display: flex;
            align-self: flex-end;
            justify-content: center;
            width: 116px;
        }
    }
    
}