<mat-card class="post">
    <div class="mat-caption no-margin-btm post-header">
        <img *ngIf="img" width=15 height=15 src="data:image/png;base64,{{img}}" >
        {{post?.author}}
    </div>
    <div class="mat-subheading-2 no-margin-btm post-content">
        {{post?.content}}
    </div>
    <div class="post-footer">
        <button mat-raised-button 
                color="primary" 
                class="tip-btn" 
                (click)="tipPost()">
            Tip this post!
        </button>
        <div class="tip-amount">
            <div class="mat-body-2 space-right no-margin-btm">
                Tip amount:
            </div>
            <div class="mat-subheading-2 no-margin-btm post-tip">
                {{post?.tipAmount}}
                <span >
                    Ether
                </span>
            </div>
        </div>
    </div>
</mat-card>