<mat-card class="post mat-elevation-z3">
    <div class="mat-caption no-margin-btm post-header" (click)="goToUsersPosts()">
        <img *ngIf="img" 
            width=15 
            height=15 src="data:image/png;base64,{{img}}" 
            style="border-radius: 50%">
        {{post?.author}}
    </div>
    <mat-divider style="position: relative; padding-bottom: 16px;"></mat-divider>
    <div class="mat-subheading-2 no-margin-btm post-content">
        {{post?.content}}
    </div>
    <div class="post-footer">
        <div class="tip-amount">
            <div class="mat-body-2 no-margin-btm" style="margin-right: 8px;">
                Tip amount:
            </div>
            <div class="mat-subheading-2 no-margin-btm post-tip">
                {{post?.tipAmount}}
                <span >
                    Ether
                </span>
            </div>
        </div>
        <div style="display: flex;
                    align-items: center;">
            <form class="tip-form">
                    <mat-form-field class="tip-width">
                        <input matInput [formControl]="tipControl" 
                        class="tip-input"
                        type="number"
                        maxlength="19">
                    <mat-placeholder class="tip-placeholder">0.1</mat-placeholder>
                </mat-form-field>
            </form>
            <button mat-raised-button 
                color="primary" 
                class="tip-btn" 
                [disabled]="(tipControl.value === '' || tipControl.value === null)"
                (click)="tipPost(tipControl.value)">
                Tip!
            </button>
        </div>
    </div>
</mat-card>