<div class="container">
    <div class="mat-display-1" style="margin-bottom: 20px;">
        This dapp is not working yet!
    </div>
    <div class="mat-body-2 no-margin-btm bigger">
        Non-Ethereum browser detected. You should consider trying MetaMask!
    </div>
    <div style="display: flex; flex-direction: row;">
        <div class="mat-body-2 no-margin-btm bigger">
            with a
        </div>
        <div style="margin-left: 8px" class="mat-subheading-2 no-margin-btm bigger">
            FAKE Ether account.
        </div>
    </div>
</div>
