.container {
    padding: 0 16px;
    align-items: center;

    .profile-img {
        border-radius: 50%;
        border: 1px solid rgba(0,0,0,0.6);
        margin-bottom: 16px;
        margin-top: 18px;
    }

    .profile-tab-group {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .no-data {
        width: 400px;
        margin-top: 16px;
        display: flex;
        justify-content: center;
    }

}