<div class="container" >
    <div class="profile">
    </div>
    <img *ngIf="img" 
              width=150
              height=150
              src="data:image/png;base64,{{img}}" 
              class="profile-img">
    <div class="mat-subheading-2 no-margin-btm">
        {{user}}
    </div>
    <mat-tab-group class="profile-tab-group">
        <mat-tab label="Public posts">
            <app-post class="post" *ngFor="let post of appService.currentUserPosts" [post]="post"></app-post> 
        </mat-tab>
        <mat-tab label="Private posts"> Content 2 </mat-tab>
    </mat-tab-group>
    <!-- <app-post class="post" *ngFor="let post of appService.currentUserPosts" [post]="post"></app-post> -->
</div>