.container {
    padding: 0;
    align-items: center;

    .profile {
        display: flex;
        flex-direction: column;
        height: 176px;
        width: 100%;
        background: rgba(0, 0, 0, 0.1);
        align-items: center;
        margin-bottom: -75px;
    }
    .profile-img {
        border-radius: 50%;
        border: 1px solid rgba(0,0,0,0.6);
        margin-bottom: 16px;
    }

    .profile-tab-group {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
}