@import './breakpoints.scss';
@import '~@angular/material/theming';
@import './component-themes';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$my-theme-primary: mat-palette($mat-purple, 500);
$my-theme-accent: mat-palette($mat-purple, 200);
$my-theme-warn: mat-palette($mat-deep-orange, A200);

// The warn palette is optional (defaults to red).
$my-theme-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$my-theme-theme: mat-light-theme($my-theme-primary, $my-theme-accent, $my-theme-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($my-theme-theme);
@include component-themes($my-theme-theme, false);

// Our dark theme
.dark-theme {
  background: rgba(11, 11, 11, 0.959);
  $dark-primary: mat-palette($mat-blue, A700);
  $dark-accent: mat-palette($mat-blue, 400);
  $dark-warn: mat-palette($mat-red);
  $dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

  @include angular-material-theme($dark-theme);
  @include component-themes($dark-theme, true);
}

$sdp-typography: mat-typography-config($font-family: 'Roboto, Open Sans',
  $display-4: mat-typography-level(94.77px, inherit, 400, $letter-spacing: -1.5px, $font-family: 'Open Sans'),
  $display-3: mat-typography-level(59.72px, inherit, 300, $letter-spacing: -0.5px, $font-family: 'Open Sans'),
  $display-2: mat-typography-level(46.45px, inherit, 700, $letter-spacing: 0, $font-family: 'Open Sans'),
  $display-1: mat-typography-level(33.26px, inherit, 600, $letter-spacing: 0.25px, $font-family: 'Open Sans'),
  $headline: mat-typography-level(23.48px, inherit, 600, $letter-spacing: 0, $font-family: 'Open Sans'),
  $title: mat-typography-level(19.36px, inherit, 700, $letter-spacing: 0.25px, $font-family: 'Open Sans'),
  $subheading-2: mat-typography-level(16px, inherit, 500, $letter-spacing: 0.15px, $font-family: 'Roboto'),
  $subheading-1: mat-typography-level(14px, inherit, 400, $letter-spacing: 0.1px, $font-family: 'Roboto'),
  $body-2: mat-typography-level(16px, inherit, 400, $letter-spacing: 0.5px, $font-family: 'Roboto'),
  $body-1: mat-typography-level(14px, inherit, 400, $letter-spacing: 0.25px, $font-family: 'Roboto'),
  $caption: mat-typography-level(12px, inherit, 400, $letter-spacing: 0.4px, $font-family: 'Roboto'),
  $button: mat-typography-level(14px, inherit, 700, $letter-spacing: 1.25px, $font-family: 'Roboto')
);

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core($sdp-typography);

html,
body {
  font-family: "Eina03", sans-serif;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: white;
  font-size: 8px;
}

.mat-button-focus-overlay {
  background-color: transparent!important;
}

.container {
  padding: 16px 32px;
  display: flex;
  flex-direction: column;

  .post {
    display: flex;
    justify-content: center;
    width: 100%;
    height: fit-content;
  }
}

.mat-tab-header {
  width: 100%;
}

.main-content {
  scroll-behavior: smooth !important;
  touch-action: auto !important;
  overflow-y: scroll;
  height: calc(100% - 86px);
  padding-top: 86px;
}

.main-content::-webkit-scrollbar {
  width: 8px;
  background-color: #E5E6E8;
}

.main-content::-webkit-scrollbar-thumb {
  border-radius: 25px;
  background-color: #AFB4B8;
}

.main-content::-webkit-scrollbar-track {
  border-radius: 25px;
}


.no-margin-btm {
    margin-bottom: 0px !important;
}

.field {
    width: 100%;
}

.mat-form-field-infix {
    height: 24px;
}

.post-input {
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: inherit !important;
    font-family: Roboto !important;
    letter-spacing: 0.25px !important;
    height: 24px;
    overflow-wrap: anywhere;
    overflow: hidden;
    padding: 16px 0;
}

.tip-input {
  @extend .post-input;
  width: 20px;
}

.tip-error {

}

.tip-placeholder {
  @extend .tip-input;
}

.mat-dialog-container {
  display: contents !important;
}

.disable-select {
  user-select: none; /* supported by Chrome and Opera */
 -webkit-user-select: none; /* Safari */
 -khtml-user-select: none; /* Konqueror HTML */
 -moz-user-select: none; /* Firefox */
 -ms-user-select: none; /* Internet Explorer/Edge */
}

.material-icons:before {
  display: none;
}

select, input, textarea {
  font-size: 16px;
}

img {
  user-select: none;
  -webkit-user-drag: none;
}