<mat-card class="not-follower mat-elevation-z3">
    <div class="mat-subheading-2 no-margin-btm text">
        Not a follower yet! 
    </div>
    <div class="mat-body-1 no-margin-btm text">
        You have to subscribe to read all privates posts of this account.
    </div>

    <div class="not-flw-btns">
        <button mat-flat-button focus="false" class="btn" color="primary" style="color: white;">
            Let's do it!
        </button>
        <button mat-button class="btn" color="primary">
            Maybe later
        </button>
    </div>
</mat-card>